*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    overflow-x: hidden;
    box-shadow: 0 0 10px 10px #1f1f1f;
}

img {
    max-width: 100%;
}

.body-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}